@font-face {
  font-family: Open Sans;
  src: url("https://github.com/nastenoksi/Simanova_AS_Diplom/blob/master/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url("https://github.com/nastenoksi/Simanova_AS_Diplom/blob/master/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
 
* {
   margin: 0;
   padding: 0;
}
 
html {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}
 
header {
    display: block;
    box-sizing: border-box;
    background-color: #090c35;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.header { 
    box-sizing: border-box;
    background-color: rgba(0, 0, 51, 0.8); 
    padding-top: 4rem;
    padding-bottom: 10.5rem;
}
 
.title_1 { 
    display: flex;
   flex-wrap: wrap;
   width: 80%;
   max-width: 1500px;
   font-size: 3.5rem; 
   color: #ffffff;
   text-transform: uppercase;
   margin-left: auto; 
   margin-right: auto;
   margin-bottom: 11.8rem;
}
 
.title_2 { 
    display: block;
    color: #ffffff;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 4.75rem;
    margin-top: 3.75rem;
    margin-bottom: 11rem;
}
 
.surface_svg { 
    fill: #ffffff;
    width: 16rem;
    height: 4.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
.surface_logo_text {
     margin-bottom: 17rem;
}

.button {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
 
.apple_btn, .google_btn { 
     display: flex;
     flex-wrap: wrap;
     width: 35rem;
     color: #ffffff;
     text-decoration: none;
     background-image: linear-gradient(to bottom right, #7c56dd, #5234a0);
     background-color: #5e42b0;
     border-radius: 3rem;
     margin-left: auto;
     margin-right: auto;
     justify-content: center;
     align-items: center;
}
 
.apple_svg, .google_svg { 
    fill: #ffffff;
    width: 2.5rem;
    height: 3rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
 
.apple_store, .google_play { 
    display: block;
    width: 10rem;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 1rem;
}
 
.apple, .google_pl { 
    display: block;
    font-weight: bold;
}
 
.athlete, .player { 
    display: block;
    font-size: 6.25rem;
    text-transform: uppercase;
    color: #e7e7e7;
    box-sizing: border-box;
    margin-left: 2.5rem;
    margin-right: 10.5rem;
}
 
.img_athlete, .img_player { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
.item_1, .item_2, .item_3 { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
 
.service  { 
    width: 21rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: #c1c1c1;
    margin-left: 1rem;
    margin-right: auto;
    margin-top: 10.5rem;
}
 
.number { 
    width: 2rem;
    font-size: 1.75rem;
    font-weight: bold;
    color: #000000;
    border-bottom: 4px solid #5e42b0;
    border-radius: 2px;
    margin-top: 10.5rem;
    margin-left: 2.5rem;
}
 
.connect { 
   width: 70%;
   font-size: 2rem;
   margin-left:  2.5rem;
   margin-right: 4.5rem;
   margin-top: 3.5rem;
   margin-bottom: 7rem;
   line-height: 1.2;
}
 
.item_1 {
    background-color: #fafafa;
    margin-top: -7rem;
}
 
.item_2 {
    background-color: #f5f4f9;
}
 
.item_3 {
    background-image: linear-gradient(to bottom right, #7c56dd, #5234a0);
    background-color: #5e42b0;
}
 
.third { 
    color: #5e42b0;
}
 
.resources { 
    color: #ffffff;
}
 
.growth { 
    background: #090c35;
}
 
.active { 
    font-sifont-size: 3.5rem;
	color: #e6e6e6;
 	margin:  0px;
  	width: 80%;
}

.chess {
  	margin-left: 2.5rem;
  	margin-top: 4rem;
  	margin-bottom: 10rem; 
}

.chess .connect {
	margin-left: 0px;
 	margin-bottom: 0px; 
}
 
.be-active, .contact, .work-it { 
    display: block;
	background-color: #bcdbf7;
}
 
.work { 
    width: 2rem;
  	color: #ffffff;
  	border-color: #8f7bc8;
  	margin: auto;
  	padding-left: 1px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
 
.wrap { 
    position: relative;
  	width: 8.75rem;
  	height: 8.75rem;
  	background-color: #5e42b0;
  	background-image: linear-gradient(to bottom right, #7c56dd, #5234a0);
  	margin-top: -7.25rem;
  	margin-left: 2.5rem;
}

.common-work .number { 
    	width: 2rem;
    	color: #ffffff;
}
 
footer {
    	position: relative;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-color: #090c35;
    	z-index: 1;
}

footer::before {
  	content: "";
  	background: rgba(0, 0, 51, 0.8);
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	z-index: -1;
}
 
.footer { 
    padding-top: 12.5rem;
    	padding-bottom: 1.25rem;
    	box-sizing: border-box;
}
 
.icon { 
    width: 9rem;
    	background-image: linear-gradient(to bottom right, #7c56dd, #5234a0);
    	background-color: #5e42b0;
    	border-radius: 20%;
    	margin-left: auto;
    	margin-right: auto;
}
 
.icon-surface { 
    width: 7rem;
    	height: 6.5rem;
    	fill: #ffffff;
    	margin: 1.25rem 1rem;
}
 
.download { 
    display: block;
    width: 35.6rem;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5rem;
}
 
.motive {
    display: block;
    width: 35.6rem;
    font-size: 1.75rem;
    text-align: center;
    color: #9999cc;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9.5rem;
}
 
.logo_footer {
    margin-top: 5.5rem;
}
 
@media (min-width: 320px) and  (max-width: 640px){
    html {
        font-size: 50%;
    }
	
    .google_btn {
	 margin-top: 2rem;
    }
	
    .be-active, .contact, .work-it {
    	height: 110vw;
    }
		
    header {
        background-image: url(https://github.com/nastenoksi/Simanova_AS_Diplom/blob/master/img/football_767.jpg?raw=true); 
    }
    
    footer { 
        background-image: url(https://github.com/nastenoksi/Simanova_AS_Diplom/blob/master/img/game_767.jpg?raw=true);
    }
}
 
@media (min-width: 641px) and  (max-width: 960px){
   
    html {
        font-size: 81.5%;
    }

   .title_1, .title_2 { 
        font-size: 4.9rem;
    }
   
    .apple_btn, .google_btn { 
        width:  24rem; 
    }
   
    .button { 
        flex-wrap: nowrap;
    }

    .apple_btn, .google_btn { 
    	width: 24rem;
    }
   
    .apple_btn { 
        margin-right: 1.2rem; 
    }

     .google_btn {
        margin-left: 1.2rem; 
    }
   
    .apple_svg, .google_svg { 
        fill: #ffffff;
    	width: 2.7em;
    	height: 3rem;
    	margin-left: auto;
    	align-self: center;  
    }
   
    .apple_store, .google_play { 
        padding-left: 1rem;
        box-sizing: border-box;
        align-self: center;
        margin-right: auto;
        margin-top: 0.9rem;
        margin-bottom: 0.9rem;
    }
   
    .img_athlete {
        position: absolute;
    	margin-left: -12.5rem;
    }
   
   .athlets, .players {
    	box-sizing: border-box;
      	position: relative;
   	padding-top: 6.6rem;
   }
  
   .athlete, .player { 
      	padding-left: 1.8rem;
   }
  
   .athlete {
      	margin-left: 22.5rem;
    }
  
   .player { 
      	margin-left: 2.5rem;
      	margin-bottom: 0em;
      	margin-right: 0px;
    }
   
    .item_1 {
        background-color: transparent;
    	margin-top: 4.5rem; 
    }
   
    .service  { 
        font-size: 2.5em;
        margin-left: 1rem;
        margin-right: auto;
        margin-top: 3rem;
    } 
    
    .athlets li {
   	padding-left: 22.5rem; 
   }
	
    .number { 
        width: 1.5rem;
    	font-size: 1.4rem;
    	margin-top: 3rem;
    }
 
    .connect {    
        font-size: 1.2rem;
    	margin-top: 2rem;
    	margin-bottom: 2rem;
    	line-height: 2.15rem;
    }
     
    .img_player {
        position: absolute;
    	margin-left: calc(100% - 436px);
    	margin-right: 0px;
	margin-top: -7.5rem;
    	
   }

   .players li {
    	padding-left: 3rem;
    	paddin-right: 22.5rem;
   } 
	
   .work { 
    	width: 2rem;
    	font-size: 1.84em;
    	color: #ffffff;
    	margin: auto;
    	padding-left: 1px;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
   }

   .chess {
  	margin-left: 2.5rem;
  	margin-top: 4rem;
  	margin-bottom: 10rem; 
  }

  .chess .connect {
 	max-width: 80%;
 	font-size: 1.8rem;
 	margin-left: 0px;
 	margin-bottom: 0px; 
  }

  .active { 
  	font-size: 6.1rem;
  	margin:  0px;
  	width: 80%;
  }

  .footer { 
    	padding-top: 9.6rem;
  }

  .icon { 
    	width: 10rem;
  }
   
    .icon-surface { 
        width: 7.8rem;
        height: 6.7rem;
        fill: #ffffff;
        margin: 1.6rem 1rem;  
    }

    .download { 
        width: 100%;
        font-size: 6em;
        margin-top: 6.2rem;
        text-align: center;
    }

    .motive {
        width: 100%;
        font-size: 2.76rem;
        margin-bottom: 22rem;
        text-align: center;
    }

    .logo_footer {
        margin-top: 1rem;
    }
 
    header {
        background-image: url(https://github.com/nastenoksi/Simanova_AS_Diplom/blob/master/img/football_1280.jpg?raw=true);
    }
    
    footer { 
        background-image: url(https://github.com/nastenoksi/Simanova_AS_Diplom/blob/master/img/game_1280.jpg?raw=true);
    }
}

@media (min-width: 961px) and (max-width: 1310px) {
  html{
      font-size: 85%;
  }
	
  .surface { 
    fill: #ffffff;
    width: 12rem;
    height: 3.25rem;
   }
  
  .title_1 { 
   display: flex;
   	flex-wrap: wrap;
   	width: 80%;
   	max-width: 1500px;
   	font-size: 5rem; 
 	color: #ffffff;
   	text-transform: uppercase;
	letter-spacing: 0.4rem;
   	margin-left: auto; 
   	margin-right: auto;
   	margin-bottom: 11.8rem;
}
	
 .title_2 { 
   font-size: 5rem; 
 	color: #ffffff;
   	margin-left: auto;
   	margin-right: 0px;
   }

  .apple_btn, .google_btn { 
  width: 22rem 
  }
  
  .button { 
   flex-wrap: nowrap;
  }
  
  .apple_btn {
   margin-right: 1.6rem; 
  }
	
  .google_btn {
   margin-left: 1.6rem; 
  }
  
  .apple_svg, .google_svg { 
  fill: #ffffff;
  width: 2.7em;
  height: 3rem;
  margin-left: auto;
  align-self: center;  
}
  
  .apple_store, .google_play { 
  font-size: 0.87rem;  
  padding-left: 1rem;
  box-sizing: border-box;
  align-self: center;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
    
  .img_athlete {
    position: absolute;
    	margin-left: auto;
    	margin-right: calc(50% + 2rem);
    	margin-top: -5rem;  
   }
  
  .athlets, .players {
    	position: relative;
    	box-sizing: border-box;
    	padding-top: 7.37rem;
   }	
 
  .athlete, .player { 
  	font-size: 5rem; 
	margin-right: auto;
  	margin-left: calc(50% + 2rem);
} 
  
 .item_1 {
  background-color: transparent;
   	margin-top: 6.75rem;
}
  
 .service  { 
  font-size: 2.25em;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 3.7rem;
 } 
  
 .athlets li {
    	padding-left: calc(50% + 2rem);
 }

  .number { 
  width: 1.5rem;
	font-size: 1.12em;
  	margin-top: 3.7rem;
  	margin-left: 0px;
	margin-right: 0.7rem;
  }
  
  .connect {    
  	font-size: 1.2rem;
  	width: 46rem;
  	margin-left: 0px;
  	margin-right: auto;
  	margin-top: 1.8rem;
  	margin-bottom: 3.5rem;
  	line-height: 1.75rem;
  }
  
  .img_player {
  position: absolute;
  	margin-left: calc(100% - 38rem);
  	margin-right: 7rem;
  	margin-top: -10rem;  
  }
  
  .player { 
  margin-left: 6rem;
  	margin-bottom: 0em; 
 } 
 
  .players .number { 
  margin-left: 6rem;
  }  
  
  .players .connect { 
  	margin-right: 50%;
  	margin-left: 6rem;
  	width: 46rem;
}
  
  .be_active,  .find_contact, .work_it {
    display: flex;  
  }
	
  .be-active, .work-it {
 	 margin-left: calc(50vw - 774px);
  }
	
  .contact {
     	margin-right: calc(50vw - 774px);
  }
  
  .find_contact {
    	flex-direction: row-reverse;
  }
  
  .common-work .chess { 
    margin-left:  calc(8rem - 70px);
  	margin-bottom: 0rem; 
  }
  
  .find_contact .chess { 
    margin-right: 8rem;
  }
  
  .wrap { 
    flex: none;
  	margin-top: 13.8rem;
  	margin-left: -70px;
  	margin-bottom: 0rem;
  	margin-right: 0px;  
  }
  
   .find_contact  .wrap {
   	margin-right: -70px;
  }
	
  .work { 
  	width: 2rem;
  	font-size: 1.84em;
  	color: #ffffff;
  	margin: auto;
  	padding-left: 1px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  }
  
  .active { 
  width: 100%;  
  	font-size: 5rem;
  	margin-top: 6rem;
  	margin-left:  0px;
}
  
 .common-work .connect { 
  width: 100%;
 	max-width: 644px; 
  	font-size: 1.5rem;
  	margin-left:  0rem;
	margin-right: auto;
  	margin-top: 7.25rem;
  	margin-bottom: 0rem;
}
  
  .bottom {
    display: flex;
    flex-wrap: wrap;
    width: 54.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9.4rem;
  }
  
  .icon { 
    width: 8.1rem;
    margin-left: 0px;
    margin-right: 2.37rem;
}

.icon-surface { 
  width: 6.4rem;
  height: 5.7rem;
}

.download { 
  width: 100%;
  font-size: 5rem;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 0px;
}

.motive {
  font-size: 1.9rem;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 0px;
}
  
  .footer { 
  padding-top: 14.3rem;
  padding-bottom: 3.25rem;
}

.logo_footer {
  margin-top: 16.4rem;
}
  
   header {
    background-image: url(https://github.com/nastenoksi/Simanova_AS_Diplom/blob/master/img/football_1920.jpg?raw=true);
   }
  
  footer { 
   background-image: url(https://github.com/nastenoksi/Simanova_AS_Diplom/blob/master/img/game_1920.jpg?raw=true);
    }
}
 
@media (min-width: 1311px) and  (max-width: 1920px) {
    html{
       font-size: 100%;
    }
   
    .surface {
        fill: #ffffff;
        width: 12rem;
        height: 3.25rem;
     }
   
    .title_1 { 
        display: flex;
   	flex-wrap: wrap;
   	width: 80%;
   	max-width: 1500px;
   	font-size: 5rem; 
 	color: #ffffff;
   	text-transform: uppercase;
	letter-spacing: 0.4rem;
   	margin-left: auto; 
   	margin-right: auto;
   	margin-bottom: 11.8rem;
    }
 
    .title_2 { 
        font-size: 5rem; 
 	color: #ffffff;
   	margin-left: 460px;
   	margin-right: 0px;
    }
 
    .apple_btn, .google_btn { 
        width:  19.3rem; 
    }
   
    .button { 
        flex-wrap: nowrap;
    }
   
    .apple_btn {
        margin-right: 1.6rem; 
    }

    .google_btn {
        margin-left: 1.6rem; 
    }
   
    .apple_svg, .google_svg { 
        fill: #ffffff;
        width: 2.7em;
        height: 3rem;
        margin-left: auto;  
    }
   
    .apple_store, .google_play { 
        font-size: 0.87rem;  
        padding-left: 1rem;
        box-sizing: border-box;
        align-self: center;
        margin-right: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
     
    .img_athlete {
        position: absolute;
    	margin-left: 7rem;
    	margin-right: calc(50% - 38rem);
	margin-top: -10rem; 
    	   
    }
	
   .athlets, .players {
    	position: relative;
    	box-sizing: border-box;
    	padding-top: 7.37rem;
    }
	
    .athlete, .player { 
        font-size: 5rem; 
	margin-right: auto;
  	margin-left: calc(50% + 3.1rem);
    } 
   
    .item_1 {
        background-color: transparent;
  	margin-top: 0rem; 
    }
   
    .service  { 
        font-size: 2.25em;
        margin-left: 0px;
        margin-right: auto;
        margin-top: 3.7rem;
    } 
	
    .athlets li {
    	padding-left: calc(50% + 3.1rem);
    }

    .number { 
        width: 1.5rem;
	font-size: 1.12em;
  	margin-top: 3.7rem;
  	margin-left: 0px;
	margin-right: 0.7rem;
  }
  
  .connect {    
  	font-size: 1.2rem;
  	max-width: 46rem;
  	margin-left: 0px;
  	margin-right: auto;
  	margin-top: 1.8rem;
  	margin-bottom: 3.5rem;
  	line-height: 1.75rem;
    }
   
    .img_player {
        position: absolute;
  	margin-left: calc(70% - 38rem);
  	margin-right: 7rem;
	margin-top: -12rem;
  	
    }
   
    .player { 
        margin-left: 11.5rem;
        margin-bottom: 0em; 
    } 
  
    
    .players .number { 
        margin-left: 11.5rem;
   }  
  
   .players .connect { 
  	margin-right: 50%;
  	margin-left: 11.5rem;
  	width: 46rem;
    }
   
    .be_active,  .find_contact, .work_it {
       display: flex; 
  }
  
  .be-active, .work-it {
  	margin-left: calc(50vw - 968px);
  }
  .contact {
     	margin-right: calc(50vw - 968px);
  }
  
  .find_contact {
    	flex-direction: row-reverse;
    }
   
    .common-work .chess { 
        margin-left:  calc(8rem - 70px);
   	margin-bottom: 0rem;
    }
   
    .find_contact .chess { 
        margin-right: 8rem;
    }
   
    .wrap { 
        flex: none;
  	margin-top: 13.8rem;
  	margin-left: -70px;
  	margin-bottom: 0rem;
  	margin-right: 0px;
    }

    .find_contact  .wrap{
        margin-right: -70px;
    }

    .work { 
        width: 2rem;
  	font-size: 1.84em;
  	color: #ffffff;
  	margin: auto;
  	padding-left: 1px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
    }
   
    .active { 
        width: 100%;  
  	font-size: 5rem;
  	margin-top: 6rem;
  	margin-left:  0px;
    }

    .common-work .connect { 
        width: 100%;
  	max-width: 644px; 
  	font-size: 1.5rem;
  	margin-left:  0rem;
	margin-right: auto;
  	margin-top: 7.25rem;
  	margin-bottom: 0rem;
    }
   
    .bottom {
        display: flex;
    	flex-wrap: wrap;
    	width: 54.1rem;
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 9.4rem;
    }
   
    .icon { 
        width: 9rem;
    
        margin-right: 2.37rem;
    }
 
    .icon-surface {
        width: 6.4rem;
        height: 5.7rem;
    }
 
    .download { 
        width: 100%;
        font-size: 5rem;
        margin-left: 0px;
        margin-right: auto;
        margin-top: 0px;
    }
 
    .motive {
        font-size: 1.9rem;
        margin-left: 0px;
        margin-right: auto;
        margin-bottom: 0px;
    }
   
    .footer { 
        padding-top: 14.3rem;
        padding-bottom: 3.25rem;
    }
 
    .logo_footer {
        margin-top: 16.4rem;
    }
   
    header {
        background-image: url(https://github.com/nastenoksi/Simanova_AS_Diplom/blob/master/img/football_1920.jpg?raw=true);
    }
   
    footer { 
        background-image: url(https://github.com/nastenoksi/Simanova_AS_Diplom/blob/master/img/game_1920.jpg?raw=true);
    }
}
 
